{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container">
                Admin index page
            </div>
        </div>
    </div>
{% endblock %}