{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="container">
                <h2>Pages</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="container">
                <a href="#" class="btn btn-primary pull-right" id="add">
                    <i class="mdi-av-my-library-add" style="font-size: 20px;"></i> Add
                </a>
                <div class="items-list">
                    {{ include('AdminBundle:Page:list.html.twig', {'pages': pages}) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="item_modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <script>App.ajax_url = '{{ path('admin_pages') }}';</script>
{% endblock %}
